body{
    background-color:rgb(192, 236, 243);
}

h1{
    text-align: center;
}

main{
    width: 30rem;
    margin: 3rem auto;
    background-color: rgb(213, 225, 233);
    padding: 1rem;
    border-radius: 6px;
    box-shadow: 0 0 4px rgb(153, 152, 152);
}

label{
    margin-bottom: 0.5rem;
    display: block;

}

input,
textarea,
select{
    width: 100%;
    display: block;
    margin-bottom: 1rem ;
    box-sizing: border-box;
    font: inherit;
    border: 1px solid rgb(184,184,184);
    padding: 0.25rem;
    color: rgb(59, 53, 53) ;
}

textarea{
    resize: none;
}

input:focus,
textarea:focus{
    background-color: rgb(221, 159, 213);
    color: rgb(32,5,63);
    border-color: rgb(200,200,200);
}

.control-inline{
    display: flex;
    flex-direction: column;
}

ul{
    list-style: none;
    padding: 0;
}

.control-inline input{
    width: auto;
    margin-right: 0.5rem;
}

li{
    height: 1rem;
}

.lista input,.lista label{
    display: inline-block;
}

.pos-button{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.pos-clear{
    padding-right:0.3rem ;
}

.pos-clear button{
    background-color:rgb(213, 225, 233);
    color: rgb(73, 71, 71);
}

button{
    font: inherit; /* Hereda el font del body pues el default lo sobreescribe*/
    background-color: rgb(32,5,63);
    color: white;
    border: 1px solid rgb(32,5,63);
    padding: 0.5rem 1.5rem;
    border-radius: 4px;
    cursor: pointer; /* Agrega un cursor en el boton*/
}

button:hover{
    background-color: rgb(52,14,95);
    border-color: rgb(52,14,95);
}